/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
.top-header,
.logo,
.search-box,
.membership-btn,
.outer-ul {
    display: flex;
}

a {
    text-decoration: none;
}

header {
    flex-direction: column;
    padding: 0.25rem 5rem;
}

.top-header {
    align-items: center;
    justify-content: space-between;
}

.i-color {
    color: #00aeef;
}

.xl-color {
    color: #ffca05;
    letter-spacing: -5px;
}

.logo {
    flex: 1;
}

.logo h1 {
    padding-right: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.search-box {
    width: 35%;
    margin: auto 0;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.search-box .search-input {
    border: none;
    width: 80%;
    padding: 6px 25px 6px 6px;
    color: #3f3f3f;
}

.fa-solid {
    font-size: 16px;
    cursor: pointer;
    color: #ddd;
    border: 1px solid #fff;
    align-self: center;
}

.fa-solid:hover {
    color: #8CC713;
}

.form-input,
.form-input-submit {
    border: 1px solid #ddd;
    padding: 7px 11px;
    color: rgb(63, 63, 63);
    font-weight: 300;
    border-radius: 4px;
    width: 7.5rem;
    margin-right: 0.5rem;
    font-size: 12px;
}

input[type='text']:focus,
input[type='password']:focus {
    border: 1px solid #129fea !important;
}

.form-input-submit {
    width: 80px;
    color: #fff;
    font-size: 13px;
    background-color: #52B700;
}

.remember-me {
    font-family: sans-serif;
    color: #999;
    font-size: 13px;
    margin-right: 5px;
}

#country {
    border: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #52B700;
    padding: 0 5rem;
}

.membership-btn {
    background-color: #59e1ca;
    font-size: 1.25rem;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    letter-spacing: 0.8px;
}

.outer-ul {
    list-style: none;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 300;
    padding: 1rem 0;
}

.outer-ul a,
.membership-btn a {
    color: #fff;
    text-decoration: none;
}

.outer-ul a {
    color: #ddd;
    font-family: 'Roboto Slab', serif;
}

.outer-ul a:focus,
.outer-ul a:hover {
    color: #fff;
}

.sub-menu {
    padding: 0 5rem;
}

.sub-menu .sub-nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.sub-nav-list li {
    width: 100%;
}

.sub-nav-link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0.75rem 0;
    font-weight: 500;
    width: inherit;
    text-align: center;
    color: grey;
    display: block;
    border-bottom: 4px solid transparent;
}

.sub-nav-link>span {
    color: grey;
    display: block;
    border-right: 1px solid #ddd;
    width: inherit;
    padding: 0.8rem 0;
    margin-top: -26px;
}

.sub-nav-link:focus,
.sub-nav-link:hover {
    border-bottom-color: #00aeef;
}

.sub-nav-link:active,
.sub-nav-link:focus {
    color: #00aeef;
}

.active-page {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F8FA;
    color: #000;
    height: 40px;
    padding: 0.25rem 5rem;
    border-top: 1px solid #ddd;
}

.active-page p>span {
    padding-right: 8px;
}

.active-page a {
    color: #3f3f3f;
}

.active-page .r4 {
    color: #999;
}

.active-page .share-skills {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.375rem;
    background-color: #fff;
}

/* Success Message */
.success,
.error {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
}

.success h2,
.error h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #ddd;
    border-radius: 3px;
    color: #52B700;
    font-size: 4rem;
    padding: 2rem 1rem;
}

.error h2 {
    color: red;
}

/* Quiz Section Styles */

.quiz-section {
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;
}

.questions {
    flex: 1;
}

.questions .learn-link {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.learn-link a {
    color: #00aeef;
    padding: 0.275rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    border-bottom: 1px solid #ddd;
}

.learn-link a:hover {
    text-decoration: underline solid rgb(0, 184, 250);
}

.fa-volume-up {
    color: #00aeef;
    font-size: 24px;
}

.question {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #000;
    padding-bottom: 1.5rem;
}

.for-question {
    margin-right: 12px;
}

.form-option {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.option {
    padding: 0.75rem 0.5rem;
}

.radio-label {
    border: 2px solid #4FD7C0;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.75rem 2.5rem;
}

.radio-label:hover,
.radio-label:focus {
    border: 2px solid #00aeef;
    background-color: #e0f4fe;
}

.radio-button {
    opacity: 0;
    display: none;
}

.submit {
    border: none;
    background-color: #52B700;
    color: #fff;
    font-size: 0.95rem;
    padding: 0.45rem 3rem;
    border-radius: 8px;
    cursor: pointer;
}

.submit:hover {
    background-color: #8bce54;
}

.details {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding-right: 1.5rem;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #faf7f7;
}

.scores h1 {
    width: 101px;
    color: #fff;
    border: none;
}

.scores p.qa {
    color: #777368;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 49px;
    padding: 5px 0;
}

.scores p.pause-play {
    color: #c3c9c3;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 49px;
    padding: 5px 0;
}

.scores p.overall {
    color: #777368;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    padding: 5px 0;
}

span.over-100 {
    font-size: 11px;
    font-weight: 300;
}

.q-tag {
    border-radius: 100%;
    padding: 0 0.2rem;
    background-color: #fff;
    color: #e76836;
    height: 16px;
    width: 16px;
    font-weight: 700;
}

.question-answer,
.time,
.smart-score {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    padding: 6px 5px;
}

.question-answer {
    background-color: #8cc713;
}

.time {
    background-color: #1fb2e4;
}

.smart-score {
    background-color: #e76836;
}
